





/* Hero section styles */
#hero {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 5rem 0;
}

#hero h1 {
  font-size: 48px;
  margin: 0;
}

#hero p {
  font-size: 24px;
  margin-top: 20px;
}

/* Services section styles */
#services-section {
  padding: 40px;
}

#services-section ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#services-section li {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  flex-basis: calc(20% - 10px);
  padding: 20px;
}

#services-section h3 {
  font-size: 24px;
  margin-top: 0;
}

#services-section p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 20px;
}

#services-section a {
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}

#services-section a:hover {
  background-color: #444;
}

