{% extends 'extendji.jinja2' %}

{% block content %}
<head>
    <title>My Company </title>
    <link rel="stylesheet" href="../static/index_style.css">
</head>
<body>

<h1>Welcome to MSR & Co pvt Ltd</h1>
<p>We provide high quality products and services to our customers.</p>
</body>
{% endblock %}
